@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-beige-500: #98908B;
  --color-beige-100: #F8F4F0;
  --color-grey-100: #F2F2F2;
  --color-grey-300: #B3B3B3;
  --color-grey-500: #696868;
  --color-grey-900: #201F24;
  --color-purple: #826CB0;
  --color-purple-100: #AF81BA;
  --color-green: #277C78;
  --color-yellow: #F2CDAC;
  --color-cyan: #82C9D7;
  --color-navy: #626070;
  --color-red: #C94736;
  --color-turquoise: #597C7C;
  --color-brown: #93674F;
  --color-magenta: #934F6F;
  --color-blue: #3F82B2;
  --color-navy_grey: #97A0AC;
  --color-army_green: #7F9161;
  --color-gold: #CAB361;
  --color-orange: #BE6C49;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "poppins";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}